@import "src/common/utilities/variables.scss";

.landing-page-content {
  display: flex;
  flex: 1 1 auto;
}

.banner-text {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 66px;
  font-weight: bold;
  color: white;
  padding: 20px;
}

.banner-text p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}