@import "src/common/utilities/variables.scss";

.landing-page {
  background: $page-fallback-background;
  background: $page-background1;
  background: $page-background2;
  padding: $page-padding;
  text-align: center;
  display: flex;
  flex: 1;
}