@import "../../../common/utilities/variables.scss";

.project-card {
  display: flex;
  flex-direction: column;
  //height: 100%;
  //width: 100%;
  min-height: 350px;
  min-width: 600px;
  flex: 1;
}

.project-card-text {
  border: double;
  border-bottom: 0;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

.project-card-buttons {
  border: double;
  justify-content: center;
  background: $page-fallback-background;
  background:$page-background1;
  background:$page-background2;
}

.project-card-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

@media screen and (max-width: 650px) {
  .project-card-action-area-media {
    display: none;
  }

  .project-card {
    min-height: 100%;
    min-width: 100%;
  }
}