@import "../../common/utilities/variables.scss";

.menu-app-bar {
  width: 100%;
}

.toolbar {
  justify-content: space-between;
}

.app-bar {
  flex: 0;
  background: $menu-fallback-background;
  background: $menu-background1;
  background: $menu-background2;
}

@media screen and (max-width: 650px) {
  .toolbar {
    justify-content: space-between;
    flex-direction: column;
  }

  .left-side-menu {
    flex-direction: column;
  }

  .right-side-menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 340px) {
  .menu-app-bar {
    margin: auto;
    min-width: 340px;
  }
}

