@import "../../common/utilities/variables.scss";

.toolbar {
  justify-content: space-between;
}

.app-bar {
  flex: 0;
  background: $menu-fallback-background;
  background: $menu-background1;
  background: $menu-background2;
}

@media screen and (max-width: 650px) {
  .toolbar {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .left-side-menu {
    display: flex;
    flex-direction: column;
  }

  .right-side-menu {
    display: flex;
    flex-direction: column;
  }
}

