@import "src/common/utilities/variables.scss";

.toolbar{
  justify-content: space-between;
}

.app-bar {
  flex: 0;
  background: $menu-fallback-background;
  background: $menu-background1;
  background: $menu-background2;
}