@import "src/common/utilities/variables.scss";

.contact-page {
  background: black url(../../images/home-background-galaxy.jpg);
  padding: $page-padding;
  display: flex;
  flex: 1;
}

.left-column-contact {
  background: white;
  text-align: center;
  justify-content: center;
  color: black;
  padding-top: 1rem;
}

.right-column-contact {
  background: white;
  text-align: center;
  justify-content: center;
  color: black;
  padding-top: 1rem;
}

.portfolio-photo-contact {
  height: 150px;
  padding-top: 1rem;
}

.contact-paragraph {
  margin: auto;
  padding-top: 0.5rem;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 70%;
  margin: auto;
}

.contact-right-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .phone-contact-right-list {
    flex-direction: column;
  }

  .email-contact-right-list {
    flex-direction: column;
  }

  .phone-text-contact-right-list {
    text-align: center;
  }

  .email-text-contact-right-list {
    text-align: center;
  }
}