.contact-page {
  background: #373B44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1em;
  display: flex;
  flex: 1;
}

.left-column-contact {
  background: white;
  text-align: center;
  justify-content: center;
  color: black;
  padding-top: 1em;
}

.right-column-contact {
  background: white;
  text-align: center;
  justify-content: center;
  color: black;
  padding-top: 1em;
}

.portfolio-photo-contact {
  height: 150px;
  padding-top: 1em;
}

.contact-paragraph {
  margin: auto;
  padding-top: 0.5em;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 70%;
  margin: auto;
}

.contact-right-list {
  display: flex;
  justify-content: center;
}