@import "src/common/utilities/variables.scss";

.about-me-page {
  background: $page-fallback-background;
  background: $page-background1;
  background: $page-background2;
  padding: $page-padding;
  display: flex;
  flex: 1;

}

.about-me-page-content {
  background-color: white;
  max-width: 100%;
  word-wrap: break-word;
}

