.about-me-page {
  display: flex;
  //height: 90%;
}

.thumb-horizontal {
  background-color: grey;
  height: 10px;
}

.track-horizontal {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
}

.thumb-vertical {
  background-color: grey;
  height: 10px;
}

.track-vertical {
  width: 100%;
  right: 0;
  top: 0;
  height: 100%;
}

