@import "src/common/utilities/variables.scss";

.about-me-page {
  background: black url(../../images/home-background-galaxy.jpg);
  padding: $page-padding;
  display: flex;
  flex: 1;

}

.about-me-page-content {
  background-color: white;
  max-width: 100%;
  word-wrap: break-word;
}

