@import "src/common/utilities/variables.scss";

.projects-page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.projects-page-tabs {
  flex: 0;
  padding-bottom: 9px;

}

.projects-page-grid {
  max-width: 100%;
  background: $page-fallback-background;
  background: $page-background1;
  background: $page-background2;
  padding: $page-padding;
  height: 100vh;
}