@import "../../common/utilities/variables.scss";

.projects-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projects-page-tabs {
  flex: 0;
  padding-bottom: 1rem;
}

.projects-page-grid {
  background: black url(../../images/home-background-galaxy.jpg);
  padding: $page-padding;
  flex: 1;
}

.react-projects {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .react-projects {
    display: flex;
    flex-direction: column;
  }
}