@import "src/common/utilities/variables.scss";

.projects-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projects-page-tabs {
  flex: 0;
  padding-bottom: 1rem;
}

.projects-page-grid {
  //background: $page-fallback-background;
  //background: $page-background1;
  //background: $page-background2;
  background: black url(../../images/home-background-galaxy.jpg) repeat-x bottom left;
  height: 100%;
  left: 0;
  opacity: 1;
  top: 0;

  padding: $page-padding;
  flex: 1;
}