// Background color and padding variables for contents of each page.
$page-fallback-background: #373B44; /* fallback for old browsers */
$page-background1: -webkit-linear-gradient(to top, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
$page-background2: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// Colors for menu. Midnight city https://uigradients.com/#MidnightCity
$menu-fallback-background: #232526; /* fallback for old browsers */
$menu-background1: -webkit-linear-gradient(to bottom, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
$menu-background2: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// Other
$page-padding: 1rem;