.employment-div {
  display: flex;
}

.left-column-employment {
  text-align: right;
  justify-content: center;
  color: white;
  width: 80%;
  padding: 2em;
}

.right-column-employment{
  color: white;
  text-align: left;
  justify-content: center;
  width: 80%;
}